<div class="row">
	<main class="col-md-12">



		<!-- Start your code here -->
		<h1> Welcome to my website </h1>
		<h2> I will be demonstrating HTML5 principles and techniques, Routing in Express </h2> 
		<hr>

		<h3>The Website</h3>
		<p>This site consists of 3 static views (<a href="/">Home</a>, <a href="/about">About</a>, <a href="/htmlDemo">HTML Demo</a>) as well as 5 routes that supply data , 
			including: <a href="/students">All Students</a>, <a href="/students?=2">Students by Course</a>, <a href="/student/2">A Single Student By Student Number</a>, <a href="/tas">All Managers</a> and <a href="/courses">All Courses</a>. </p>
		<hr>
		
		<h3>HTML 5</h3>
		<p>This site utilizes HTML5, which is a powerful markup language designed for structuring and presenting content on the World Wide Web. HTML5 provides a comprehensive set of tags and attributes that allow developers to create dynamic and interactive web pages. With its semantic structure, HTML5 enables better accessibility, search engine optimization, and cross-platform compatibility. By leveraging the capabilities of HTML5, this site delivers a rich and engaging user experience while adhering to modern web standards.</p>
		<!-- End your code here  -->



	</main>
</div>
		